<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Page Information
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta name="msvalidate.01" content="04664286CCED81D88F857DB2DE4C2A45" />
  <title>{{ profile.author }}</title>
  <meta name="description" content="{{ profile.description_url }}">
  <meta name="author" content="{{ profile.author }}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton-auto.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/' + profile.avatar) }}">

</head>

<body>
