<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Page Information
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta name="msvalidate.01" content="04664286CCED81D88F857DB2DE4C2A45" />
  <title>{{ singl["profile"].author }}</title>
  <meta name="description" content="{{ singl["profile"].description_url }}">
  <meta name="author" content="{{ singl["profile"].author }}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton-auto.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/' + singl["profile"].avatar) }}">

</head>

<body>
 <div id="bg">
 </div> 

  <div class="bg container">
    {% include "shared/navbar.html" %}
    <div class="row">
      <div class="column" style="margin-top: 5%">
